body{
 background: #e4ebf4;
    min-height: 100pv;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider{
    position: relative;
    width: 300%;
    height: 700px;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 500px;
    height: 650px;
    text-align: justify;
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(40%  - 120px);
    top: 0;
}

#next,#prev{
    position: absolute;
    top: 40%;
    color: #ccc;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    left: 50px;
    cursor: pointer;
}
#next{
    left: unset;
    right: 50px;
}